<!DOCTYPE html>
<html>
	<form action = "/humanmove" method = "post">
		<br>
		<br>
		<br>
		<center>
		<h2><%=current_player%>, make your move.</h2>
		<br>
		<hr>
		<br>
		<body bgcolor="#7FFFD4">
			<TABLE border = "5" cellspacing = "8" cellpadding = "40">
				<TR>
			    	<TD> <input class = "board" type = "submit" name = "choice" value = <%=board[0]%>> </TD>
			    	<TD> <input class = "board" type = "submit" name = "choice" value = <%=board[1]%>> </TD>
			    	<TD> <input class = "board" type = "submit" name = "choice" value = <%=board[2]%>> </TD>
			  	</TR>
			  	<TR>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[3]%>> </TD>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[4]%>> </TD>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[5]%>> </TD>
			  	</TR>
			  	<TR>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[6]%>> </TD>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[7]%>> </TD>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[8]%>> </TD>
			  	</TR>
			</TABLE>
			<script src = "js/squares.js"></script>
			<script src = "jquery-3.0.0.min.js"></script>
		</body>
		</center>
	</form>
</html>








