<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="normalize.css">
	</head>
	<center>
		<h2><%=player%> is the winner!</h2>
		<br>
		<h3>Here is the final board.</h3>
		<hr>
		<br>
		<body bgcolor="#7FFFD4">
			<TABLE>
				<TR>
			    	<TD> <input class = "board" type = "submit" name = "choice" value = <%=board[0]%>> </TD>
			    	<TD> <input class = "board" type = "submit" name = "choice" value = <%=board[1]%>> </TD>
			    	<TD> <input class = "board" type = "submit" name = "choice" value = <%=board[2]%>> </TD>
			  	</TR>
			  	<TR>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[3]%>> </TD>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[4]%>> </TD>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[5]%>> </TD>
			  	</TR>
			  	<TR>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[6]%>> </TD>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[7]%>> </TD>
				    <TD> <input class = "board" type = "submit" name = "choice" value = <%=board[8]%>> </TD>
			  	</TR>
			</TABLE>
			<br>
			<br>
			<form action = "/newgame" method = "post">
				<input type = "submit" value = "Play again.">
			</form>
		</body>
	</center>
</html>